<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->
        <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
        <title> Weather Forecast </title>
    </head>
    <body>
        <main> 
            <div class="container">
                <div class="change-button">
                    <img class="chevron-icon" src="/static/assets/chevron-left.png" alt="">
                    <a href="{{ url_for('home')}}"> CHANGE CITY </a>
                </div>
                <div class="city-header">
                    <h1> {{ city_name }} </h1>
                    <h2> {{ current_date }} </h2>
                </div>
                <div class="daily-forecast">
                    <p id="current-temp"> {{ current_temp }}ºC </p>
                    <div class="daily-section">
                        <img class="weather-icon" src="/static/assets/{{ current_weather.lower() }}.png" alt="">
                        <p class="forecast-text"> {{ current_weather }} </p>
                    </div>  
                    <div class="daily-section">
                        <img class="weather-icon" src="/static/assets/thermometer.png" alt="">
                        <p class="forecast-text"> {{min_temp }}° - {{ max_temp }}° </p>
                    </div> 
                    <div class="daily-section">
                        <img class="weather-icon" src="/static/assets/wind.png" alt="">
                        <p class="forecast-text"> {{ wind_speed }} meter/sec </p>
                    </div> 
                </div>
                <div class="divider"> </div>
                <h2> 5-DAY FORECAST </h2>
                <div class="five-day">
                    <div class="forecast-item">
                        <p> {{ five_day_dates_list[0] }} </p>
                        <img class="weather-icon" src="/static/assets/{{ current_weather.lower() }}.png" alt="">
                        <p> {{ current_temp }}º </p>
                    </div>
                    <div class="forecast-item">
                        <p> {{ five_day_dates_list[1] }} </p>
                        <img class="weather-icon" src="/static/assets/{{five_day_weather_list[1].lower()}}.png" alt="">
                        <p> {{ five_day_temp_list[1] }}º </p>
                    </div>
                    <div class="forecast-item">
                        <p> {{ five_day_dates_list[2] }} </p>
                        <img class="weather-icon" src="/static/assets/{{five_day_weather_list[2].lower()}}.png" alt="">
                        <p> {{ five_day_temp_list[2] }}º </p>
                    </div>
                    <div class="forecast-item">
                        <p> {{five_day_dates_list[3]}} </p>
                        <img class="weather-icon" src="/static/assets/{{five_day_weather_list[3].lower()}}.png" alt="">
                        <p> {{ five_day_temp_list[3] }}º </p>
                    </div>
                    <div class="forecast-item">
                        <p> {{five_day_dates_list[4]}} </p>
                        <img class="weather-icon" src="/static/assets/{{five_day_weather_list[4].lower()}}.png" alt="">
                        <p> {{ five_day_temp_list[4] }}º </p>
                    </div>
                </div>
                <div class="footer">
                    <a href="https://rachanahegde.squarespace.com/"> © Rachana Hegde </a>  
                </div>
            </div>
        </main>
    </body>
</html>
